# common file patterns
._*
*~
.DS_Store
.AppleDouble

# project file patterns
*.mo
*.chproj
.idea/
.buildpath
.project
.settings/
.phptidy-cache

# required local configuration
/VERSION
/inc/config.php
/locale/about_*.html

# for development
/*.sh
/phpinfo.php
/robots.txt

# temporary
/db/basisentscheid_*.sql
/db/tmp_*.sql
/db/backup_data_*.sql.bz2
