
._*
*~
.DS_Store
.AppleDouble

.svn/
*.mo
*.chproj
.idea/
.buildpath
.project
.settings/
.phptidy-cache

/inc/config.php
/about_*.html
/VERSION

/db/basisentscheid_*.sql
/db/tmp_*.sql
/db/backup_data_*.sql.bz2
/*.sh
/phpinfo.php
/robots.txt

