
._*
*~
.DS_Store
.AppleDouble

.svn/
*.mo
*.chproj
.idea/
.buildpath
.project
.settings/
.phptidy-cache

/inc/config.php
/about_*.html

/db/basisentscheid_*.sql
/db/tmp_*.sql
/ssl/
/*.sh
/phpinfo.php
/robots.txt

