# UTF-8 for Apache and PHP
AddDefaultCharset UTF-8
php_value default_charset UTF-8
php_value mbstring.internal_encoding UTF-8

# Language Options
php_flag short_open_tag on
php_flag asp_tags off

# Disable deprecated features 
php_flag register_globals     off
php_flag register_long_arrays off
php_flag register_argc_argv   off
php_flag magic_quotes_gpc     off
php_flag magic_quotes_runtime off
php_flag safe_mode            off

# Error handling and logging
php_value error_reporting 32767
php_value log_errors on
php_value error_log var/log/phperrors.log
# In live environment, you should set the following flags to "off":
php_flag  display_errors         on
php_flag  display_startup_errors on

# Session
php_value session.name BASISENTSCHEID_SESSION
php_flag  session.use_cookies      on
php_flag  session.use_only_cookies on
# SHA-1, 27 characters
php_value session.hash_function 1
php_value session.hash_bits_per_character 6

# Data Handling
php_value arg_separator.output "&"
php_value arg_separator.input "&"
php_value variables_order "GPCS"
php_value request_order "GP"
php_value enable_post_data_reading on
php_value always_populate_raw_post_data off

# Restrict access to test files
<FilesMatch "^test_.*\.php$">
	Require valid-user
</FilesMatch>

