/*
style guide:
- font sizes as %
- other sizes as px
- font dependent sizes as em or as px (for older browsers) and rem
- colors upper case #07F or #0A7CF3
*/

/* 1. common definitions without id or class */

body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #F4EEF7;
	margin: 3px 20px 7px;
	padding: 0;
}

td, th,
div.timebar,
div.proposal_info ul {
	/* narrow font */
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
div.ngroups td.member {
	/* wide font */
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

/* for compatibility with older browsers */
header, footer, nav {
	display: block;
}

hr {
	background-color: #FFF;
	border: none;
	height: 2px;
	margin: 1.5em 0;
}

h1 {
	font-size: 150%;
	margin: 0 0 0.5em 0; padding-top: 0.8em; /* workaround for Firefox bug applying h1 margin-top to the page top */
	float: left;
}
h2 {
	font-size: 115%;
	margin: 1em 0 0.5em 0;
}
h3 {
	font-size: 100%;
}
p, ul {
	margin: 0.5em 0;
}

table {
	border-spacing: 1px;
	border-collapse: separate;
	border: none;
}
td, th {
	padding: 3px 4px;
}
.th, th, tfoot td {
	background-color: #CCC;
}
.td0 {
	background-color: #FFF;
}
.td1 {
	background-color: #EEE;
}
.td0 .tdc {
	background-color: #F8F8F8;
}
.td1 .tdc {
	background-color: #E8E8E8;
}
tr.highlight {
	background-color: #F8B;
}

a {
	padding: 0 3px 1px 3px;
}
a:visited {
	color: #708;
}
a:link,
div.filter a:visited,
div.add_record a:visited,
table th a:visited,
header a:link,
div.comments_rubric a:link {
	color: #00A;
}
a:hover,
a:focus {
	color: #000;
	outline: 1px solid #DDD;
	background-color: #F8F8F8;
}
a:active {
	background-color: #F3F3F3;
}

h1 a {
	text-decoration: none;
}


/* 2. common class definitions */

a.icontextlink {
	padding-left: 0;
	text-decoration: none;
}
a.icontextlink img {
	vertical-align: middle;
	margin-right: 5px;
	border: 0;
}

a.iconlink {
	margin: 0;
	padding: 0 1px 0 0;
}
a.iconlink img {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: bottom;
	border: 0;
}

img.iconbutton {
	/*noinspection CssOverwrittenProperties*/
	cursor: pointer;
	/*noinspection CssOverwrittenProperties*/
	cursor: hand;
	vertical-align: bottom;
}
img.iconbutton:hover {
	outline: 1px solid #DDD;
	background-color: #F8F8F8;
}

a.anchor {
	padding: 0;
}

.clearfix {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	clear: both;
}

.nowrap {
	white-space: nowrap;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.vmiddle {
	vertical-align: middle;
}

div.messages {
	/*border: 1px solid #CCC;*/
	background: #FFF;
	padding: 5px;
	margin-bottom: 20px;
	display: inline-block;
}
.success, .notice, .warning, .error {
	margin: 1px;
	padding: 2px 5px;
}
.success {
	background-color: #6F6;
}
.notice {
	background-color: #FAFA33;
}
.warning, .error {
	background-color: #F69;
	font-weight: bold;
}
.syserror {
	color: #900;
	font-weight: normal;
	margin: 0.4em 0;
}

div.motd {
	background-color: #ffe0d7;
	padding: 2px 5px;
	margin-bottom: 1em;
	border-radius: 6px;
}
div.motd p,
div.motd h2,
div.motd h3 {
	margin: 0.5em 0;
}

div.help {
	clear: both;
	background-color: #FFE;
	padding: 2px 5px;
	margin-bottom: 1em;
	border-radius: 6px;
}
div.help p {
	margin: 5px 0;
}
div.help form.hide_help {
	background-color: #FFE;
	padding: 0 0 3px 5px;
	margin: 0;
	float: right;
}
form.show_help {
	background-color: #FFE;
	padding: 2px 5px;
	margin: 0 0 5px 3px;
	float: right;
	border-radius: 6px;
}
form.show_help.h1 {
	margin-top: 1.4em;
}

div.bargraph {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 2px 0;
}
div.bargraph.acceptance {
	width: 100px;
}
div.bargraph.score {
	width: 100px;
	margin-left: 3px;
}
div.bargraph div.bar {
	float: left;
	height: 1em;
	background-color: #777;
}
div.bargraph div.bar.yes {
	background-color: #0A0;
}
div.bargraph div.bar.no {
	background-color: #B00;
}
div.bargraph.score div.bar {
	background-color: #FA0;
}
div.bargraph div.legend {
	position: absolute;
	z-index: 1;
	margin: 0;
	height: 1em;
	line-height: 1.2em;
	font-size: 0.8em;
	vertical-align: middle;
	padding-left: 2px;
}
div.bargraph.bargraph_quorum div.legend {
	text-align: right;
}
div.bargraph.acceptance div.legend {
	color: #FFF;
}
div.bargraph div.required {
	position: absolute;
	z-index: 2;
	width: 1px;
	padding: 0;
	margin: 0;
	height: 1em;
	background-color: #FA0;
}
div.bargraph div.supported {
	position: absolute;
	z-index: 3;
	padding: 0;
	margin: 0 0 0 80px;
	line-height: 1em;
	vertical-align: middle;
}
div.bargraph div.clear {
	height: 0;
	clear: both;
}

div.timebar {
	clear: both;
	background-color: #E0E0FF;
	padding: 2px 10px;
	margin: 10px 0;
}
div.timebar div.datebar,
div.timebar div.bar {
	display: inline-block;
	width: 0.15em;
}
div.timebar div.part {
	display: inline-block;
	white-space: nowrap;
	margin-bottom: 0.1em;
}
div.timebar div.months {
	margin-bottom: 0.1em;
}
div.timebar div.days,
div.timebar div.day {
	line-height: 1em;
	height: 1.1em;
}
div.timebar div.day {
	display: inline-block;
	width: 1.9em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.timebar div.months div.day {
	padding-left: 0.2em;
}
div.timebar div.days div.day {
	border-left: 1px dotted #448;
	padding-left: 0.1em;
}
div.timebar div.days div.day.month0 {
	background-color: #FFF;
}
div.timebar div.days div.day.month1 {
	background-color: #FFB;
}
div.timebar div.days div.day span.weekend {
	color: #D00;
}
div.timebar div.beam {
	clear: both;
	background-color: #448;
	height: 0.25em;
}
div.timebar div.datebar {
	vertical-align: top;
}
div.timebar div.datespace {
	display: inline-block;
	overflow: visible;
	vertical-align: top;
}
div.timebar div.mark {
	display: inline-block;
	width: 1px;
	height: 0.6em;
	vertical-align: bottom;
	background-color: #448;
}
div.timebar div.datebar div.mark {
	vertical-align: top;
	height: 100%;
}
div.timebar div.datebar.now div.mark {
	background-color: #C00;
}
div.timebar div.datespace.now {
	color: #C00;
}

span.admin {
	background-color: #FEE;
	padding: 0 3px;
}

span.self {
	font-weight: bold;
}

span.datetime {
	white-space: nowrap;
}
span.stateinfo {
	font-style: italic;
}
.revoked,
.revoked a {
	text-decoration: line-through;
	color: #AAA;
}
.cancelled,
.cancelled a {
	color: #AAA;
}

.current {
	font-weight: bold;
}
.over {
	font-style: italic;
	color: #666;
}

option.selected {
	background-color: #DDD;
}

form.button {
	display: inline;
}

a.active,
a.active:hover,
a.active:focus {
	outline: 1px solid #999;
}

div.filter a,
div.pager a {
	padding: 0 4px 2px 4px;
	text-decoration: none;
}
div.filter a.active,
div.pager a.active {
	padding: 0 4px 2px 4px;
	text-decoration: none;
	outline: 1px solid #999;
	background-color: #FFF;
	color: #000;
}

div.pager {
	margin: 10px 0;
	margin: 1rem 0;
}
div.pager div.itemsperpage {
	float: right;
}

div.filter {
	margin-left: 2px;
}
div.filter form {
	display: inline;
	margin-left: 20px;
}
div.filter.nav {
	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

img.online_small {
	margin: 0 3px 0 3px;
	vertical-align: middle;
}
img.ballot_small {
	margin: 0 0 0 2px;
	vertical-align: middle;
}


/* 3. common page layout  */

header {
	margin: 0;
	vertical-align: middle;
	line-height: 46px;
}
header div#header {
	background: #AAA linear-gradient(to right, #AAA 15em, #FFF 22em);
	display: inline-block;
	width: 100%;
	line-height: 1.6em;
}

nav {
	margin-top: 5px;
	margin-left: 65px;
	padding: 2px 5px 5px 5px;
}
nav ul,
nav li {
	display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
nav ul li {
	padding: 3px 0;
}
nav a {
	font-size: 110%;
	padding: 1px 4px;
	text-decoration: none;
	background-color: #FFF;
}
nav a:hover,
nav a:focus {
	outline: 1px solid #EEE;
}
nav a.active,
nav a.active:hover,
nav a.active:focus {
	outline: 1px solid #999;
}
nav form {
	display: inline-block;
	padding: 0.1em 0.5em 0 0;
	vertical-align: top;
}

a#logo {
	position: absolute;
	left: 30px;
}
a#logo img {
	display: block;
}
a#home {
	font-size: 130%;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	margin-right: 0.7em;
}
a#logo,
a#home {
	background-color: transparent;
	outline: none;
	padding: 0;
}

div#user {
	padding: 8px 10px 7px 10px;
	float: right;
}
div#user a.user {
	font-weight: bold;
}
div#user img {
	vertical-align: middle;
}

footer {
	margin: 1.5em 0 0 0;
	padding: 0;
	border-top: 2px #FFF solid;
	text-align: right;
}
footer a:link,
footer a:visited {
	color: #888;
}


/* 4. id definitions */

#dbtableadmin,
div.tableblock {
	display: inline-block;
}
div.add_record,
div.add {
	float: right;
}
form.filter,
div.filter,
div.add_record {
	margin-bottom: 5px;
	margin-bottom: 0.5rem;
}
#dbtableadmin table,
div.tableblock table {
	clear: both;
}
#dbtableadmin tfoot td {
	text-align: right;
}

/* manual order */
#dbtableadmin span.arrow {
	font-weight: bold;
}
#dbtableadmin div.moveup {
	float: left;
}
#dbtableadmin div.movedown {
	float: right;
}

#dbtableadmin h2 {
	margin-left: 150px;
	margin-left: 15rem;
}

form.editform {
	margin-top: 10px;
	margin-bottom: 20px;
}
form.editform fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
form.editform div.input,
form.editform div.buttons {
	margin: 1px 0;
	padding: 0;
	white-space: nowrap;
}
form.editform div.input label,
form.editform div.buttons span.cancel {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	width: 14rem;
	margin: 2px    0 2px    5px;
	margin: 0.2rem 0 0.2rem 0.5rem;
}
form.editform div.input label {
	text-align: right;
	white-space: normal;
}
form.editform div.input span.input,
form.editform div.buttons span.input {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 153px);
	width: calc(100% - 15.3rem);
	margin: 2px    3px    2px    5px;
	margin: 0.2rem 0.3rem 0.2rem 0.5rem;
}
/*form.editform div.input input[type=text],
form.editform div.input input[type=password],
form.editform div.input textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/
form.editform div.buttons {
	margin-top: 5px;
}
form.editform div.comment {
	display: inline-block;
	width: 95%;
	white-space: normal;
	vertical-align: middle;
}

fieldset.member {
	margin: 0;
	padding: 0;
	border: none;
	display: inline-block;
}
fieldset.member div.description {
	padding: 3px 10px;
}
fieldset.member div.input {
	margin: 1px 0;
	padding: 0;
}
fieldset.member div.input label {
	display: inline-block;
	vertical-align: middle;
	width: 200px;
	width: 20rem;
	margin: 2px    0 2px    5px;
	margin: 0.2rem 0 0.2rem 0.5rem;
}
fieldset.member div.input label {
	text-align: right;
	white-space: normal;
}
fieldset.member div.input span.input {
	display: inline-block;
	vertical-align: middle;
	margin: 2px    3px    2px    5px;
	margin: 0.2rem 0.3rem 0.2rem 0.5rem;
}
fieldset.member div.input span.input p {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}
fieldset.member div.button {
	margin-top: 5px;
}
fieldset.member div.button input[type=submit] {
	margin-left: 212px;
	margin-left: 21.2rem;
}
@media screen and (max-width: 70em) {
	fieldset.member div.input label {
		width: 100px;
		width: 10rem;
	}
	fieldset.member div.button input[type=submit] {
		margin-left: 112px;
		margin-left: 11.2rem;
	}
	fieldset.member div.input textarea {
		width: 370px;
		width: 37rem;
	}
}


/* 5. classes for specific pages */


/* 5.0 index */

div.dates {
	float: left;
	margin-right: 20px;
}
div.ngroups {
	float: left;
}
div.ngroups td.inactive {
	color: #999;
}
div.ngroups td.name {
	padding-left: 0.5em;
}
div.dates   tr.own,
div.ngroups tr.own td.name,
div.ngroups tr.own td.proposals {
	font-weight: bold;
}


/* 5.1 proposals */

p.proposal,
div.proposal {
	background-color: #FFF;
	padding: 5px 10px;
	margin: 0;
}
p.proposal_title {
	font-weight: bold;
	font-size: 110%;
}
div.proposal_info {
	float: right;
	margin-left: 20px;
	margin-bottom: 5px;
	width: 210px;
	width: 21rem;
}
@media screen and (max-width: 65em) {
	div.proposal_info {
		float: none;
		width: auto;
		margin-left: 0;
	}
}
div.proposal_info ul {
	background-color: #FFF;
	margin: 0;
	padding: 3px 2px 3px 5px;
	list-style: square inside;
}
div.proposal_info ul li span.unconfirmed {
	color: #AAA;
}
div.proposal_info ul li form,
div.proposal_info ul li div.form {
	display: inline-block;
	vertical-align: top;
	width: 194px;
	width: 19.4rem;
	margin-top: 2px;
}
div.proposal_info ul li form div.explain {
	margin: 0 0 2px 0;
}
div.proposal_info ul li form input[type=text] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.proposal_content {
	overflow: hidden;
}
div.proposal_content div.add,
div.proposal_info div.add {
	margin-top: 0.3em;
}

div.proposal_info table.drafts {
	width: 100%;
}
div.proposal_info table.drafts td {
	vertical-align: top;
	padding: 3px 2px;
	background-color: #FFF;
}
div.proposal_info table.drafts td.diffradio {
	width: 1%;
	padding-left: 0;
	padding-right: 0;
	white-space: nowrap;
	text-align: right;
}
div.proposal_info table.drafts td.diffradio span {
	padding-right: 3px;
}
div.proposal_info table.drafts td.content {
	width: 99%;
}
div.proposal_info table.drafts td.diffradio input {
	margin: 1px;
}
div.proposal_info table.drafts td.content a {
	padding: 0;
}
div.proposal_info table.drafts td.content a:hover,
div.proposal_info table.drafts td.content a:focus {
	outline: none;
}

div.proposal_info tr td.content {
	cursor: pointer;
	cursor: hand;
}
div.proposal_info tr td.content:hover,
div.proposal_info tr td.content:focus,
div.proposal_info tr td.content:hover a,
div.proposal_info tr td.content:focus a {
	background-color: #F8F8F8;
	color: #000;
}
div.proposal_info tr td.content:active,
div.proposal_info tr td.content:active a {
	background-color: #F3F3F3;
}
div.proposal_info tr.active {
	font-weight: bold;
}
div.proposal_info tr.active td.content {
	border: 1px solid #999;
	padding: 2px;
}

div.diff p ins {
	color: green;
	background: #DFD;
	text-decoration: none;
}
div.diff p del {
	color: red;
	background: #FDD;
	text-decoration: none;
}

div.quorum {
	background-color: #E0DAF0;
	padding: 5px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
div.quorum h2 {
	display: inline;
	font-size: 100%;
}
div.quorum div.bargraph_container {
	display: inline-block;
	margin: 0 5px;
	padding: 1px 4px;
	vertical-align: bottom;
	background-color: #FFF;
}
div.quorum form {
	display: inline-block;
	margin-top: 2px;
}
div.quorum form.supported {
	background-color: #0A0;
	padding: 0 6px;
}
div.admission_decision,
form.admission_decision {
	margin-top: 5px;
}
form.admission_decision input[type=text] {
	width: 50em;
}

div.issue {
	margin-top: 6px;
}

table.proposals {
	width: 100%;
	border-spacing: 1px 2px;
}

table.proposals th.proposal {
	width: 81%;
}
table.proposals th.support {
	width: 1%;
}
table.proposals th.state {
	width: 10%;
}
table.proposals th.period {
	width: 1%;
}
table.proposals th.votingmode {
	width: 7%;
}
table.proposals th.result {
	width: 0;
}

table.proposals tr.proposal {
	background-color: #FFF;
}
table.proposals td.issue_separator {
	height: 3px;
	padding: 0;
}

table.proposals td.proposal_link,
table.proposals td.proposal_link_active {
	cursor: pointer;
	cursor: hand;
	padding: 2px 3px;
	border: 1px solid #FFF;
}
table.proposals td.proposal_link_active {
	font-weight: bold;
	border-color: #999;
}
table.proposals td.proposal_link:hover,
table.proposals td.proposal_link:focus {
	border-color: #DDD;
}
table.proposals td.proposal_link a,
table.proposals td.proposal_link_active a {
	text-decoration: none;
	outline: none;
}
table.proposals td.proposal_link:hover,
table.proposals td.proposal_link:focus,
table.proposals td.proposal_link_active:hover,
table.proposals td.proposal_link_active:focus,
table.proposals td.proposal_link:hover a,
table.proposals td.proposal_link:focus a,
table.proposals td.proposal_link_active:hover a,
table.proposals td.proposal_link_active:focus a {
	color: #000;
	background-color: #F8F8F8;
}
table.proposals td.proposal_link:active,
table.proposals td.proposal_link_active:active,
table.proposals td.proposal_link:active a,
table.proposals td.proposal_link_active:active a {
	background-color: #F3F3F3;
}

table.proposals td.support {
	white-space: nowrap;
}
table.proposals td.result {
	cursor: pointer;
	cursor: hand;
	white-space: nowrap;
}

table.proposals td.vote {
	padding-right: 8px;
}

table.proposals span.activity {
	float: right;
}

form.proposal h2,
div.proposal_info h2,
div.proposal_content h2,
div.issue h2 {
	font-size: 115%;
	font-weight: normal;
	margin: 5px 0 0 0;
}
form.proposal h2 span.explain {
	font-size: 80%;
	margin-left: 1em;
}
form.proposal input[type=text],
form.proposal textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form.proposal textarea {
	height: 100px;
}
form.proposal input[type=submit] {
	margin-top: 10px;
}


/* 5.2 comments */

div.comments {
	margin: 10px 0;
	padding: 0;
}
div.comments_rubric {
	background-color: #FAFFFA;
	padding: 5px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.comments_rubric.arguments_pro {
	width: 49.5%;
	float: left;
}
div.comments_rubric.arguments_contra {
	width: 49.5%;
	float: right;
}
@media screen and (max-width: 65em) {
	div.comments_rubric.arguments_pro,
	div.comments_rubric.arguments_contra {
		width: auto;
		float: none;
	}
}
div.comments_rubric h2 {
	margin-top: 0;
}
div.comments_rubric ul {
	margin: 0;
	list-style-type: none;
	padding-left: 20px;
}
div.comments_rubric > ul {
	padding-left: 0;
}
div.comments_rubric ul li {
	margin: 3px 0;
}

div.comments_rubric ul li.anchor,
div.comments_rubric ul div#openhl {
	border: 1px dashed #F00;
}

div.comments_rubric ul li div.comment h3,
div.comments_rubric ul li div.comment p {
	padding-left: 3px;
	padding-right: 3px;
	margin: 0;
}
div.comments_rubric ul li div.comment h3 {
	font-weight: bold;
}
div.comments_rubric ul li div.comment h3.removed {
	font-weight: normal;
	font-style: italic;
}
div.comments_rubric ul li div.comment {
	border: 1px solid #E6E6E6;
	background-color: #FFF;
}
div.comments_rubric ul li div.comment h3 {
	background-color: #EAEAEA;
}

div.comments_rubric ul li div.comment h3 a,
div.comments_rubric ul li div.comment h3 a:link {
	padding: 0;
	text-decoration: none;
	color: #000;
	background-color: #EAEAEA;
	outline: none;
}
div.comments_rubric ul li div.comment h3 a:hover {
	color: #66C;
}
div.comments_rubric ul li div.comment div.time {
	padding-left: 3px;
	background-color: #EAEAEA;
}
div.comments_rubric ul li div.comment div.author {
	float: right;
	clear: right;
	font-style: italic;
	padding-right: 3px;
	padding-left: 3px;
	background-color: #EAEAEA;
}

div.comments_rubric ul li div.comment.new {
	border-color: #D9E7FF;
}
div.comments_rubric ul li div.comment.new h3,
div.comments_rubric ul li div.comment.new h3 a,
div.comments_rubric ul li div.comment.new h3 a:link,
div.comments_rubric ul li div.comment.new div.time,
div.comments_rubric ul li div.comment.new div.author {
	background-color: #D9E7FF;
}

div.comments_rubric ul li div.comment.new_children h3 {
	background-image: linear-gradient(135deg, #D9E7FF 25%, transparent 25%, transparent 50%, #D9E7FF 50%, #D9E7FF 75%, transparent 75%, transparent);
	background-size: 25px 25px;
}
div.comments_rubric ul li div.comment.new_children h3 a,
div.comments_rubric ul li div.comment.new_children h3 a:link,
div.comments_rubric ul li div.comment.new_children div.time,
div.comments_rubric ul li div.comment.new_children div.author {
	background: transparent;
}

div.comments_rubric ul li div.comment .removed {
	color: #999;
}
div.comments_rubric ul li div.comment div.reply {
	float: right;
	clear: right;
	margin-bottom: 3px;
	margin-right: 2px;
}

div.comments_rubric form.comment input[type=text],
div.comments_rubric form.comment textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.comments_rubric form.comment a {
	padding: 0;
}

div.comments_rubric span.rating {
	color: #090;
	font-weight: bold;
	margin-left: 0.3em;
}
div.comments_rubric form.rating input[type=submit] {
	padding: 0;
	background-color: #FFF;
}
div.comments_rubric form.rating.selected input[type=submit] {
	color: #FFF;
	background-color: #090;
	font-weight: bold;
}
div.comments_rubric form.rating.reset input[type=submit] {
	background-color: #EEE;
}


/* 5.3 ballots */

form.edit_ballot,
form.edit_ballot input[type=text] {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.postal {
	background-color: #FFF;
	padding: 3px 4px;
	display: inline-block;
}
h2.postal {
	margin-top: 0;
}


/* 5.4 login */

form.login {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
form.login fieldset {
	text-align: left;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
}
form.login label,
form.login div {
	display: block;
	margin: 1px 0;
	padding: 0 5px;
	white-space: nowrap;
}
form.login label span.input,
form.login label span.label {
	display: inline-block;
	vertical-align: middle;
	margin: 2px    0 2px    5px;
	margin: 0.2rem 0 0.2rem 0.5rem;
}
form.login label span.label {
	width: 100px;
	width: 10rem;
	text-align: right;
}
form.login input[type=text],
form.login input[type=password] {
	width: 140px;
	width: 14rem;
}
form.login div {
	margin-top: 5px;
}
form.login input[type=submit] {
	margin-left: 10.9rem;
}


/* 5.5 settings */

p.problem {
	color: #C00;
	display: block;
}
span.fine {
	color: #0A0;
}


/* 5.6 settings notifications */

table.notify th.type {
	width: 12%;
}
table.notify tr td.space {
	height: 5px;
}
table.notify tfoot tr td {
	padding: 1px 5px;
}
table.notify tfoot tr td.left {
	background-color: transparent;
}


/* 5.7 vote result */

table.votes td {
	font-family: monospace;
	text-align: center;
}
table.votes tr.overridden {
	text-decoration: line-through;
	color: #888;
}
table.votes tr.self {
	background-color: #F8B;
}
table.votes tr.self td.tdc {
	background-color: #F877AA;
}


/* 5.8 periods */

th.period,
td.period {
	width: 15%;
}
td.period {
	white-space: nowrap;
}
