
body {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size:11px;*/
	color:#000;
	background-color:#EEEEEE;
	padding: 5px 20px;
}

h1 {
	font-size:18px;
	margin-top:20px;
}
h1.title {
	margin-top:0px;
	margin-left:0px;
	margin-bottom:20px;
	font-size:24px;
}
h2 {
	font-size:14px;
	margin-top:5px;
	margin-bottom:5px;
}
h3 {
	font-size:12px;
}
span.hadd {
	font-weight:normal;
	font-size:90%;
	margin-left:70px;
}

a.active {
	font-weight:bold;
}

th {
	background-color:#AAAAAA;
}
td.td0, tr.td0 {
	background-color:#DDDDDD;
}
td.td1, tr.td1 {
	background-color:#CCCCCC;
}

div.messages {
	border: 1px solid #ccc;
	background: #f5f5f5;
	padding: 5px;
	margin-bottom: 20px;
}
p.success, p.notice, p.warning, p.error {
	margin: 1px;
	padding: 2px 5px;
}
p.success {
	background-color: #66FF66;
}
p.notice {
	background-color: #FAFA33;
}
p.warning, p.error {
	background-color: #FF6699;
	font-weight: bold;
}
p.syserror {
	color: #990000;
	font-weight: normal;
}

form.button {
	display: inline;
}
input.proposal, textarea.proposal {
	width: 100%;
}
textarea.proposal {
	height: 100px;
}
p.proposal {
	background-color: #FFF;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
div.quorum {
	background-color: #DDD;
	padding: 5px 10px 5px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

form.edit_ballot input[type=text] {
	width: 100%;
}

#head {
	width: 100%;
	background-color: #FFF;
}
#logo {
	padding: 9px 15px;
	margin: 0px;
	float: left;
	font-weight: bold;
	font-size: 120%;
	color:#FFFFFF;
	background-color: #AAAAAA;
}
#nav {
	padding: 10px 20px;
	float: left;
}
#nav a {
	margin-left: 5px;
}
#nav a.active {
	font-weight: bold;
}
#user {
	padding: 10px 10px 5px 10px;
	float: right;
}
.clearfix {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.bargraph {
	border: 2px groove black;
	width: 100px;
	margin-top: 0;
	margin-bottom: 1px;
}
div.bargraph div.bar {
	float: left;
	height: 1.8ex;
}
div.bargraph div.clear {
	height: 0;
	clear: both;
}
